<!DOCTYPE html>
<head>
<link rel="stylesheet" type='text/css' href='./layout.css' >
</head>	
<body>



  <div id="social_media_section" class="center_elm">
    <div id="social_media_section_1" class="top_em_spacing float_left">
    </div>
    <div id="social_media_section_2" class="top_em_spacing float_right">
    </div>
    <div class="clear_floats"></div>
  </div>

  <hr>
  <div id="book_section" class="top_em_spacing center_elm">
    <div id="book_section_nav">
      <div id="book_section_btn_1"></div>
      <div id="book_section_btn_2"></div>
      <div id="book_section_btn_3"></div>
      <div class="clear_floats"></div>
    </div>
    <div id="book_section_outter_body">
      <div id="book_section_body">
        <div><span id="class_book_content"> your content </span></div>
      </div>
    </div>
  </div>


  <hr>




  <div id="call_to_action_section" class="top_em_spacing">

    <h2><span class="big_text">I</span>t's Real</h2>

    <p>Make you dream of owning a larger home come true.</p>

    <button class="btn_style"> click here to </button>

    <p class="float_right">This brought off my banking under one roof</p>
    <div class="clear_floats"></div>
    <p class="float_right">Renan, SCCU Member</p>
    <div class="clear_floats"></div>
    <button class="btn_style float_right"> click here to
      <br> read more reviews </button>
    <div class="clear_floats"></div>

  </div>

  <hr>

  <div id="footer_section" class="top_em_spacing">
  </div>

</body>
